html,
body {
  padding: 0;
  margin: 0;
}

.general{
  height: 100vh;
  display:flex;
  /* border-top: 5%; */
  justify-content:center;
  align-items:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage{
  position:absolute; 
  top:30%;
  text-align: center;
  bottom: 200px;  
  color:rgb(223, 213, 213);
  font-size:30px;
  /* margin-top: 0%; */
}

.homepage-about{
  color:rgb(223, 213, 213);
  position: fixed;
  position:relative; 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage-sub{
  color:rgb(255, 255, 255);
  position:relative; 
  text-align: left;
  width: 900px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
}

.button {
  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 30px 32px;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
}

.button-new {
  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 20px 32px;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
}

.button1 {
  background-color: rgba(0,0,0,0);
  /* border-radius: 6px; */
  opacity: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1:hover {
  background-color: grey;
  color: white;
  border-radius: 6px;
  opacity: 0.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.enter{
  color: rgb(0, 0, 0);
  position:fixed; left:510px; bottom:300px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-buttons{
  align-content: center;
  display: flex;
  display: inline-block;
}

.center{
  color: white;
  position: relative;
  width: 120px;
  height: 40px;
  margin: 0 auto;
  margin-top: 0;
  margin-left:0;
  margin-right:0;
}

.soon{
  color:rgb(223, 213, 213);
  text-align: bottom;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  left: 20%;
  bottom: 1000px;
}

.std-margin{
  margin-top: 5%;
}

.divider{
  width:10%;
  height:auto;
  margin-top: 15%;
  display:inline-block
}