.container {
  min-height: 500vh;
  padding: 0 0.5rem;
  width: 100vw;
}

.main {
  padding: 10rem 0;
  height: 200vh;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}